package ${servicePackage}.resources;

import ${servicePackage}.api.ResourcePaths;
import javax.validation.Valid;
import org.springframework.http.MediaType;
import org.springframework.web.bind.annotation.*;

@RestController
@RequestMapping(path = ResourcePaths.${resourcePathVar}, produces = MediaType.APPLICATION_JSON_VALUE)
public class ${resourceName}Resource {

}
