package ${servicePackage}.client;

import ${servicePackage}.api.ResourcePaths;
import feign.Headers;
import feign.Param;
import feign.RequestLine;

@Headers({
        "Content-Type: application/json",
        "Accept: application/json",
})
public interface ${resourceName}Client {

}
